* {
  /* border: 1px solid red; */
}

.cust-h-middle {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.cust-header-section {
  margin: 5% 0;
}

.cust-header-font {
  font-family: 'Bungee Outline', cursive;
  font-size: 5em;
}

.app-table {
  margin-top: 3%;
  margin-bottom: 3%;
}

td {
  border: 1px solid black;
  height: 50px;
  font-size: 1.5em;
  text-align: center;
  vertical-align: middle;
  width: 50px;
}

@media only screen and (max-width: 767px) {
  .cust-h-middle {
    display: inline-grid;
    margin: 0;
  }

  .app-table {
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .cust-header-font {
    font-size: 4em;
  }
}
