body {
  font-family: Roboto, sans-serif;
}

a {
  color: #616161;
}

td {
  border-radius: 5px;
  color: #b9b9b9;
  height: 55px;
  font-size: 1.5em;
  line-height: 0;
  text-align: center;
  transition: 0.3s ease-in;
  vertical-align: middle;
  width: 55px;
}

.cust-font-color {
  color: #616161;
}

.cust-no-padding {
  padding: 0;
}

.cust-no-margin {
  margin: 0;
}

.cust-h-middle {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.cust-header-section {
  margin: 0 0 3%;
}

.cust-header-font {
  font-family: 'Bungee Inline', cursive;
  font-size: 4em;
}

.cust-app-table {
  background-color: #b9b9b9;
  border-collapse: separate;
  border-radius: 5px;
  border-spacing: 1px;
  box-shadow: 10px 10px 20px -5px #999;
  margin-bottom: 3%;
}

.cust-cell-questioned {
  border: 2px inset #ccc;
  background-color: #999;
  color: #fff;
}

.cust-cell-middle {
  border: none;
  background-color: #999;
}

.cust-cell-opened {
  border: 2px inset #ccc;
  background-color: #999;
}

.cust-cell-closed {
  border: 2px outset #ccc;
  background-color: #fff;
}

.cust-cell-hit {
  border: 2px inset #ccc;
  background-color: #999;
  color: #999;
}

body {
  font-family: Roboto, sans-serif;
}

a {
  color: #616161;
}

td {
  border-radius: 5px;
  color: #b9b9b9;
  height: 55px;
  font-size: 1.5em;
  line-height: 0;
  text-align: center;
  transition: 0.3s ease-out;
  vertical-align: middle;
  width: 55px;
}

@media only screen and (max-width: 767px) {
  .cust-h-middle {
    display: inline-grid;
    margin: 0;
  }

  .cust-header-font {
    font-size: 2em;
  }

  td {
    font-size: 1.2em;
  }
}
